.addForm {
    padding: 16px 0;
    .form-input {
      position: relative;
      margin: 0 0 45px 0;
      width: 100%;
      label {
        position: absolute;
        top: -25px;
        left: 0;
        font-size: 14px;
        color: #000;
        line-height: 2;
      }
      input[type="text"], input[type="email"], textarea {
        padding: 10px 15px;
        border-radius: 8px;
        border: solid 1px #c2c1c3;
        background-color: #fff;
        width: 100%;
        &:focus {
          border: none;
        }
      }
    }
  }
  form {
    &:focus {
      border: none;
    }
  }