.postsPage {
  margin: 40px 0;
  position: relative;
  &__addNew {
    position: absolute;
    top: 9px;
    right: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 25px 0 0;
    align-items: stretch;
    justify-content: center;
  }
  @media screen and (max-width: 1024px) {
    .postsPage__addNew {
      top: 60px;
      margin: auto;
      left: 0;
      right: 0;
      width: 160px;
    }
    .postsPage__cards {
      padding-top: 40px;
    }
  }
  @media screen and (max-width: 514px) {
    .postsPage__cards {
      gap: 16px;
    }
}
}
